{% load i18n %}{% spaceless %}
<div class="dj-control-panel">
	<input type="{{ widget.type }}" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
	{% if widget.value is not None %}
		{% with script_id='initial_'|add:widget.attrs.id %}
		{{ widget.value|json_script:script_id }}
		{% endwith %}
	{% endif %}
	{% block "dropbox" %}
	<ul class="dj-dropbox"><li class="dj-empty-item">{% trans "Drag file here" %}</li></ul>
	{% endblock %}
	{% block "controller" %}
	<div>
		{% block "choose-file" %}
		<button type="button" class="dj-choose-file">{% trans "Choose file" %}</button>
		{% endblock %}
		{% block "progress-bar" %}
		<progress max="1" value="0"></progress>
		{% endblock %}
	</div>
	{% endblock %}
</div>

{% block "dropbox-items" %}
<template class="dj-dropbox-items">
	{% block "file-picture" %}
	<li class="dj-file-picture"><img src="${thumbnail_url}"></li>
	{% endblock %}
	{% block "file-caption" %}
	<li class="dj-file-caption">
		<figure>
			<figcaption>{% trans 'Name' %}:</figcaption>
			<p>${name}</p>
		</figure>
		<figure>
			<figcaption>{% trans 'Content-Type' %}:</figcaption>
			<p>${content_type}</p>
		</figure>
		<figure>
			<figcaption>{% trans 'Size' %}:</figcaption>
			<p>${size}</p>
		</figure>
		<a class="dj-delete-file" href="javascript:void(0);">{% trans "Delete" %}</a>
		<a class="dj-download-file" href="${download_url}" download="${name}">{% trans "Download" %}</a>
	</li>
	{% endblock %}
</template>
{% endblock %}

{% endspaceless %}