{% spaceless %}
<div class="{% block "wrapper_classes" %}dj-richtext-wrapper{% endblock %}">
	<div role="group">
		<button type="button" aria-label="bold">{% include "formset/icons/bold.svg" %}</button>
		<button type="button" aria-label="italic">{% include "formset/icons/italic.svg" %}</button>
		<button type="button" aria-label="link">{% include "formset/icons/link.svg" %}</button>
		<button type="button" aria-label="bullet-list">{% include "formset/icons/bullet-list.svg" %}</button>
		<button type="button" aria-label="clear-format">{% include "formset/icons/clear-format.svg" %}</button>
		<button type="button" aria-label="undo">{% include "formset/icons/undo.svg" %}</button>
		<button type="button" aria-label="redo">{% include "formset/icons/redo.svg" %}</button>
	</div>

	<dialog>
		<form method="dialog">
			<div class="dialog-header">
				<h5 class="modal-title">Edit Link</h5>
			</div>
			<div class="dialog-body">
				<div class="mb-3">
					<label for="text" class="form-label">Text</label>
					<input name="text" type="text" class="form-control">
				</div>
				<div class="mb-3">
					<label for="url" class="form-label">Link</label>
					<input name="url" type="url" class="form-control" size="50">
				</div>
			</div>
			<div class="dialog-footer">
				<button class="btn btn-outline-secondary" value="close">Close</button>
				<button class="btn btn-danger" value="remove">Remove</button>
				<button class="btn btn-primary" value="save">Save</button>
			</div>
		</form>
	</dialog>

	<textarea is="django-richtext" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}></textarea>
	{% if widget.value %}<script type="application/json">{{ widget.value }}</script>{% endif %}
</div>
{% endspaceless %}