{% load i18n %}
{% spaceless %}
{% block "selectize-select-widget" %}
<select name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} size="1" options="10">{% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
	<optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
		<option value="{{ option.value|stringformat:'s' }}"{% if option.selected %} selected{% endif %}>{{ option.label }}</option>{% endfor %}{% if group_name %}
	</optgroup>{% endif %}{% endfor %}
</select>
{% endblock %}
{% with script_id=widget.attrs.id|add:"_initial" %}
{# if widget is incomplete but filtered, the initial option(s) might be loaded by function `DjangoSelectize.setupFilters()` #}
{{ widget.value|json_script:script_id }}
{% endwith %}
{% block "templates" %}{% endblock %}
{% endspaceless %}