loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.egg-info

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
__pycache__/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

client/components.d.ts
client/components/django-formset/actions.ts
coverage/
formset/static/django-formset/
formset/static/types/
formset/static/index.d.ts
docs/build/
media/
testapp/static
testapp/test.db
