loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.egg-info

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
__pycache__/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

coverage/
formset/static/formset/js/django-formset*
dist/
docs/build/
media/
testapp/static
testapp/test.db
