# fly.toml file generated for django-formset2 on 2023-09-08T22:13:46+02:00

app = "django-formset"
kill_signal = "SIGINT"
kill_timeout = 5
mounts = []
processes = []

[env]
  PORT = "8080"
  DJANGO_WORKDIR="/web/workdir"
  DJANGO_MEDIA_ROOT="/web/workdir/media"
  DJANGO_STATIC_ROOT="/web/staticfiles"

[build]
  dockerfile = ".deployment/Dockerfile"


[[services]]
  internal_port = 8080
  processes = ["app"]
  protocol = "tcp"
  [services.concurrency]
    hard_limit = 25
    soft_limit = 20
    type = "connections"

  [[services.ports]]
    force_https = true
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
