[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"

[dev-packages]
playwright = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
flake8 = "*"
sphinx = "*"
beautifulsoup4 = "*"
docutils = "*"

[requires]
python_version = "3.8"
