[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
playwright = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.8"
