{% spaceless %}
<fieldset name="{{ name }}"{% if css_classes %} class="{{ css_classes }}"{% endif %}{% if show_condition %} df-show="{{ show_condition }}"{% endif %}{% if hide_condition %} df-hide="{{ hide_condition }}"{% endif %}{% if disable_condition %} df-disable="{{ disable_condition }}"{% endif %}>
	{% if legend %}<legend class="fieldset-heading">{{ legend }}</legend>{% endif %}
	{% for field in fieldset %}
		{% if field.is_hidden or field.as_fieldset %}
			{{ field }}
		{% else %}
			{% include "formset/admin/field_group.html" %}
		{% endif %}
	{% endfor %}
	{% if help_text %}{% include help_text_template %}{% endif %}
</fieldset>
{% endspaceless %}