<script type="text/plain" tiptap-plugin="mark">
{
	name: 'link',
	priority: 1000,
	keepOnSplit: false,

	onCreate() {
		this.options.protocols.forEach(protocol => {
			if (typeof protocol === 'string') {
				registerCustomProtocol(protocol);
			} else {
				registerCustomProtocol(protocol.scheme, protocol.optionalSlashes);
			}
		});
	},

	onDestroy() {
		reset();
	},

	addOptions() {
		return {
			protocols: [],
			HTMLAttributes: {
				type: 'external',
				target: '_blank',
				rel: 'noopener noreferrer nofollow',
				class: null,
			},
		};
	},

	addAttributes() {
		return {
			href: {
				default: null,
			},
			target: {
				default: this.options.HTMLAttributes.target,
			},
			rel: {
				default: this.options.HTMLAttributes.rel,
			},
			class: {
				default: this.options.HTMLAttributes.class,
			},
			type: {
				default: this.options.HTMLAttributes.type,
			},
		};
	},

	parseHTML() {
		return [{tag: 'a[href]:not([href *= "javascript:" i])'}];
	},

	renderHTML({ HTMLAttributes }) {
		return ['a', mergeAttributes(this.options.HTMLAttributes, HTMLAttributes), 0];
	},

}
</script>