.docutils.literal {
	font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	font-size: 0.9em;
	line-height: 1.3em;
}
.code.literal-block {
	overflow-x: auto;
	background-color: #F5F5E5;
	padding: 1rem 0.5rem;
	margin: 0.5rem 0;
}
hr.docutils {
	margin: 1rem 0;
}
