@import "collections";

django-formset {
	.aligned {
		p.help, div.help {
			margin-top: 0;
			margin-left: 160px;
			padding-left: 10px;
		}

		.dj-field-errors {
			margin-left: 160px;

			ul {
				padding-left: 10px;

				> li {
					list-style: none;
				}
			}
		}
	}

	.submit-row {
		margin-top: 20px;
	}

	dialog {
		button {
			background: var(--button-bg);
			padding: 8px 12px;
			border: none;
			border-radius: 4px;
			color: var(--button-fg);
			cursor: pointer;
			transition: background 0.15s;

			&.danger {
				background: var(--delete-button-bg);
				color: var(--button-fg);
			}

			&.warning {
				background: var(--accent);
				color: var(--button-fg);
			}

			&.primary {
				background: var(--primary);
				color: var(--button-fg);
			}

			&.secondary {
				background: var(--secondary);
				color: var(--button-fg);
			}
		}
	}

	django-form-collection {
		&[sibling-position] {
			&:first-of-type > [role=form] > fieldset {
				border-top: none;
			}

			&:not(:last-of-type) {
				border-bottom: 1px solid var(--header-bg);
			}

			&:last-of-type > [role=form] > fieldset {
				> [role=group]:last-of-type {
					border-bottom: none;
				}
			}
			&.dj-marked-for-removal > [role=form] {
				opacity: 0.5;
				background-color: transparent;
			}
		}

		> legend {
			// this is taken for a stacked inline
			// font-size: 0.75rem;
			letter-spacing: 0.5px;
			text-transform: uppercase;

			border: 1px solid var(--header-bg);
			margin: 0;
			padding: 8px;
			font-weight: 400;
			font-size: 0.8125rem;

			background: var(--header-bg);
			color: var(--header-link-color);
		}

		.collection-siblings {
			padding: 10px;
			margin-bottom: 10px;
			border: 1px solid var(--header-bg);
		}

		.module {
			margin: 0;
		}

		.detached-row {
			color: var(--body-quiet-color);
			background: var(--darkened-bg);
			padding: 8px 10px;
			margin: -1px -10px -10px;

			button {
				font-size: 0.75rem;
				background-color: transparent;
				border: none;
				color: var(--link-fg);
				text-decoration: none;
				transition: color 0.15s, background 0.15s;
				cursor: pointer;

				&:hover {
					color: var(--link-hover-color);
				}

				img {
					vertical-align: text-top;
				}
			}
		}

		button.remove-collection {
			padding: 5px 8px 2px;
			border: none;
			border-radius: 4px;
			color: var(--delete-button-bg);
			cursor: pointer;
			transition: background 0.15s;

			&:hover {
				background-color: var(--delete-button-hover-bg);
				color: var(--button-fg);
			}
		}

		.dj-button-decorator {
			color: #5fa225;
			font-weight: bold;
			font-size: larger;
			&.me-1 {
				margin-right: 0.25rem;
			}
			&.ms-1 {
				margin-left: 0.25rem;
			}
		}
	}

	.form-row {
		border-bottom: none;

		&:has([role="dialog"], [is^="django-selectize"]) {
			overflow: visible;
		}

		.flex-container {
			> .dj-richtext-wrapper, > [role="textbox"] {
				flex-grow: 1;
			}
		}

		textarea[is="django-richtext"].dj-concealed {
			width: 1px !important;
		}

		input[type^="date"] {
			border: 1px solid var(--border-color);
			border-radius: 4px;
			padding: 5px 6px;
			margin-top: 0;
			color: var(--body-fg);
			background-color: var(--body-bg);
		}

		[is^="django-selectize"] + .shadow-wrapper {
			width: calc(100% - 170px);
		}

		:is(select[is^="django-selectize"], select[is="django-dual-selector"]).dj-concealed {
			width: 1px !important;
		}

		.df-dual-selector {
			input {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}

			:is(select, django-sortable-select) {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				margin-top: -1px;
			}

			&.selector {
				margin-bottom: 5px;

				.selector-available, .selector-chosen {
					input {
						margin-left: unset;
					}

					:is(select, django-sortable-select) {
						overflow-x: hidden;
						margin-bottom: 0;
						padding-top: 2px;
					}
				}

				.selector-chooser {
					margin: 6rem 0 0;
					padding: 0.125rem 0;
					width: auto;

					button {
						border: unset;
						padding: 0;
						display: block;
						overflow: hidden;
						cursor: pointer;
						border-radius: 50%;
						background-color: var(--close-button-bg);
						color: var(--primary-fg);
						opacity: 0.8;
						width: 16px;
						height: 16px;

						&:hover {
							opacity: 1;
						}

						svg {
							width: 75%;
							height: 75%;
						}
					}
				}
			}
		}
	}

	fieldset[name] {
		margin-top: 20px;
		border: none;

		> legend {
			box-sizing: border-box;
			width: calc(100% - 10px);
			margin: 0 5px;
		}
	}
}
