{% extends "formset/default/widgets/dual_selector.html" %}

{% block "wrapper_classes" %}{{ block.super }} flex flex-row{% endblock %}
{% block "left-column" %}<div class="basis-1/2">{{ block.super }}</div>{% endblock %}
{% block "control-panel" %}
<div class="basis-12 pt-11">
	<div class="flex flex-col">
	{% with button_classes="bg-gray-100 hover:bg-gray-500 py-1 px-3 my-0.5 mx-2 rounded" %}
		{% include "formset/default/buttons/move_all_right.html" %}
		{% include "formset/default/buttons/move_selected_right.html" %}
		{% include "formset/default/buttons/move_selected_left.html" %}
		{% include "formset/default/buttons/move_all_left.html" %}
		{% include "formset/default/buttons/undo_assignment.html" %}
		{% include "formset/default/buttons/redo_assignment.html" %}
	{% endwith %}
	</div>
</div>
{% endblock %}
{% block "right-column" %}<div class="basis-1/2">{{ block.super }}</div>{% endblock %}