{% extends "admin/change_form.html" %}
{% load i18n l10n admin_urls static admin_modify admin_filters formset_admin %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
<script
	type="module"
	src="{% if use_monolithic_build %}{% static 'formset/js/django-formset.monolith.js' %}{% else %}{% static 'formset/js/django-formset.js' %}{% endif %}"
	{% csp_nonce_attr %}
></script>
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
	<link rel="stylesheet" href="{% static "formset/css/adminform.css" %}" {% csp_nonce_attr %}>
{% endblock %}

{% block content %}<div id="content-main">
	<django-formset endpoint="{{ request.get_full_path }}" csrf-token="{{ csrf_token }}" force-submission>
		{{ form }}
	{% block submit_buttons_bottom %}{% submit_row %}{% endblock %}
	</django-formset>
</div>
{% endblock %}
