{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Django-Formset Demo</title>
	<link rel="icon" href="data:,">
	<link href="{% static 'testapp/css/bulma.css' %}" rel="stylesheet" type="text/css" media="screen">
	<link href="{% static 'testapp/css/docutils.css' %}" rel="stylesheet" type="text/css" media="screen">
	<script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
</head>

<body>
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column"></div>
				<div class="column is-two-thirds">
					<nav class="breadcrumb" aria-label="breadcrumbs">
						<ul>
							<li><a href="/">{% include "testapp/house.svg" %}</a></li>
							<li><a href="/{{ framework }}">{{ framework.capitalize }}</a></li>
							<li class="is-active"><strong class="px-3">{{ leaf_name }}</strong></li>
						</ul>
					</nav>
					{{ doc }}
					{% block main-content %}{% endblock %}
					{% include "testapp/formset-data.html" %}
				</div>
				<div class="column"></div>
			</div>
		</div>
	</section>
</body>

</html>