{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="{{ LANGUAGE_CODE|default:'en' }}">

<head>
	<meta charset="utf-8"/>
	<title>Django-Formset Demo</title>
	<link rel="icon" href="data:,">
	<link href="{% static 'formset/css/collections.css' %}" rel="stylesheet" type="text/css" media="screen">
	<link href="{% static 'testapp/css/debug.css' %}" rel="stylesheet" type="text/css" media="screen">
	<script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
</head>
<body>
	<div>
		<a href="/">{% include "testapp/house.svg" %}</a>
		/ <a href="/default">Default</a>
		/ <strong>{{ leaf_name }}</strong>
	</div>
	{{ doc }}
	{% block main-content %}{% endblock %}
	{% include "testapp/formset-data.html" %}
</body>

</html>
