.{{commonName}} {
  background-image: url("../icons/sprite-flags.png");
  background-size: 360px 342px;
  background-repeat: no-repeat;
  width: 24px;
  height: 18px;
  display: inline-block;
}
{{#shapes}}{{#selector.shape}}{{expression}}{{^last}},
{{/last}}{{/selector.shape}} {
  background-position: {{position.relative.xy}};
}
{{/shapes}}
