@tailwind base;
@tailwind components;
@tailwind utilities;

.formset-label {
    @apply text-sm text-gray-600;
}
.formset-text-input, .formset-email-input, .formset-date-input, .formset-select, .formset-select-multiple, .formset-number-input, .formset-textarea, .formset-password-input {
    @apply w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300;
}
.formset-dual-selector-select {
	@apply formset-select-multiple rounded-t-none w-full !important;
}
.formset-dual-selector-select optgroup {
	@apply font-bold;
}
.formset-dual-selector-lookup {
	@apply formset-text-input border-b-0 rounded-b-none !important;
}
.dj-dual-selector ~ .dj-field-errors {
	@apply text-end;
}
[is="django-dual-selector"] {
	@apply w-full;
}
.formset-checkbox, .formset-checkbox-multiple {
    @apply mr-2 focus:ring-indigo-100 border-gray-300 rounded;
}
.formset-radio-select {
    @apply mr-2 focus:ring-indigo-100 border-gray-300;
}
.formset-inlined {
    @apply mr-3 inline-block;
}
.formset-help-text {
    @apply text-gray-500;
}
.dj-choose-file {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
}
.dj-delete-file {
    @apply bg-yellow-200 hover:bg-yellow-600 text-black hover:text-white font-semibold text-sm py-1 px-3 rounded;
}
.dj-download-file {
    @apply bg-gray-200 hover:bg-gray-300 text-black font-semibold py-1 px-3 text-sm rounded;
}
