<div class="control">
	<button class="prev" type="button">
		{% include "formset/icons/arrow-left.svg" %}
	</button>
  <time datetime="{{ calendar.startdate|date:'c' }}">{{ calendar.startdate|date:'F Y' }}</time>
	<button class="next" type="button">
		{% include "formset/icons/arrow-right.svg" %}
	</button>
</div>
<ul class="weekdays" aria-label="month-view">
{% for abbr, weekday in calendar.weekdays %}
	<li><abbr title="{{ weekday }}">{{ abbr }}</abbr></li>
{% endfor %}
{% for date, day, classes in calendar.monthdays %}
	<li data-date="{{ date }}"{% if classes %} class="{{ classes }}"{% endif %}>{{ day }}</li>
{% endfor %}
</ul>

<ul class="months" aria-label="year-view">
{% for month in calendar.months %}
	<li>{{ month }}</li>
{% endfor %}
</ul>
