{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="{{ LANGUAGE_CODE|default:'en' }}">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Django-Formset Demo</title>
	<link rel="icon" href="data:,">
	<link href="{% static 'testapp/css/tailwind.css' %}" rel="stylesheet" type="text/css" media="screen">
	<link href="{% static 'testapp/css/utils.css' %}" rel="stylesheet" type="text/css" media="screen">
	<script src="{% url 'javascript-catalog' %}"></script>
	<script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
</head>

<body>
	<div class="flex items-center min-h-screen bg-gray-50">
		<div class="container mx-auto">
			<div class="max-w-2xl mx-auto my-5 bg-white p-5 rounded-md shadow-sm">
				<div class="m-7">
					<nav class="rounded-md w-full mb-4">
						<ol class="list-reset flex">
							<li><a href="/" class="text-blue-600 hover:text-blue-700 inline-block mt-1">{% include "testapp/house.svg" %}</a></li>
							<li><span class="text-gray-500 mx-2">/</span></li>
							<li><a href="/{{ framework }}" class="text-blue-600 hover:text-blue-700">{{ framework.capitalize }}</a></li>
							<li><span class="text-gray-500 mx-2">/</span></li>
							<li class="text-gray-500 font-bold">{{ leaf_name }}</li>
						</ol>
					</nav>
					<div class="my-4">{{ doc }}</div>
					{% block main-content %}{% endblock %}
					{% include "testapp/formset-data.html" %}
				</div>
			</div>
		</div>
	</div>
</body>

</html>
