{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Django-Formset Demo</title>
	<link rel="icon" href="data:,">
	<link href="{% static 'testapp/css/tailwind.css' %}" rel="stylesheet" type="text/css">
	<script type="module" src="{% static 'formset/js/django-formset.js' %}"></script>
</head>
<body>
	<div class="flex items-center min-h-screen bg-gray-50">
		<div class="container mx-auto">
			<div class="max-w-2xl mx-auto my-5 bg-white p-5 rounded-md shadow-sm">
				<div class="m-7">
					{% block "main-content" %}{% endblock %}
				</div>
			</div>
		</div>
	</div>
</body>
</html>
