{% load i18n %}
{% for holder in collection %}
	{% if holder.is_single %}
<django-form-collection>
	{% elif holder.is_first %}
		{% if holder.is_template %}
<template class="empty-collection">
		{% endif %}
<django-form-collection sibling-position="{{ holder.position }}" min-siblings="{{ collection.min_siblings }}"{% if collection.max_siblings %} max-siblings="{{ collection.max_siblings }}"{% endif %}>
	{% endif %}
	{{ holder }}
	{% if holder.is_single %}
</django-form-collection>
	{% elif holder.is_last %}
	<button class="remove-collection">{% trans "Remove" %}</button>
</django-form-collection>
		{% if holder.is_template %}
</template>
<button class="add-collection">{% trans "Add" %}</button>
		{% endif %}
	{% endif %}
{% endfor %}