{% load i18n %}
{% for holder in collection %}
	{% if holder.is_first %}
		{% if holder.is_template %}
<template class="empty-collection">
		{% endif %}
<django-form-collection-sibling position="{{ holder.position }}">
		{% endif %}
	{{ holder }}
	{% if holder.is_last %}
	<button class="remove-collection">{% trans "Remove" %}</button>
</django-form-collection-sibling>
		{% if holder.is_template %}
</template>
<button class="add-collection">{% trans "Add" %}</button>
		{% endif %}
	{% endif %}
{% endfor %}