{% load i18n %}
{% spaceless %}
<dialog df-induce-open="{{ induce_open }}" df-induce-close="{{ induce_close }}">
	<form{% include "formset/form_attrs.html" %}></form>
{% if form.title %}
	<div class="dialog-header">
		<h3>{{ form.title }}</h3>
	</div>
{% endif %}
{% if form.fields %}
	<div class="dialog-body">
	{% for field in form %}
		{% if field.is_hidden %}
			{{ field }}
		{% elif field.widget_type != 'button' %}
			{% include "formset/default/field_group.html" %}
		{% endif %}
	{% endfor %}
	{% if help_text %}{% include help_text_template %}{% endif %}
	</div>
{% endif %}
	<div class="dialog-footer">
	{% for field in form %}
		{% if field.widget_type == 'button' %}
			{{ field }}
		{% endif %}
	{% endfor %}
	</div>
</dialog>
{% endspaceless %}