{% spaceless %}
<dialog{% if form.is_modal %} df-modal{% endif %}{% if form.induce_open %} df-induce-open="{{ form.induce_open }}"{% endif %}{% if form.induce_close %} df-induce-close="{{ form.induce_close }}"{% endif %}>
{% block dialog-header %}
	{% if form.title %}
	<div class="dialog-header">
		<h3>{{ form.title }}</h3>
	</div>
	{% endif %}
{% endblock %}
{% block dialog-body %}
	<form{% include "formset/form_attrs.html" %}></form>
	<div class="dialog-body">
	{% if form.prologue %}{{ form.prologue }}{% endif %}
	{% if form.fields %}
		{% for field in form %}
			{% if field.is_hidden %}
			{{ field }}
			{% elif field.widget_type != 'button' %}
			{% include "formset/default/field_group.html" %}
			{% endif %}
		{% endfor %}
		{% if help_text %}{% include help_text_template %}{% endif %}
	{% endif %}
	{% if form.epilogue %}{{ form.epilogue }}{% endif %}
	</div>
{% endblock %}
{% block dialog-footer %}
	<div class="dialog-footer">
	{% for field in form %}
		{% if field.widget_type == 'button' %}
			{{ field }}
		{% endif %}
	{% endfor %}
	</div>
{% endblock %}
</dialog>
{% endspaceless %}