beautifulsoup4==4.15.0
coverage==7.13.5
django-countries==8.2.0
docutils==0.23
django-filter==26.1
Pillow==12.3.0
phonenumbers==9.0.38
playwright==1.62.0
pytest==8.4.2
pytest-django==4.14.0
pytest-mock==3.15.1
pytest-subtests==0.15.0
