{% extends "formset/default/widgets/file.html" %}
{% load i18n %}

{% block "choose-file" %}
<button type="button" class="dj-choose-file button">{% trans "Choose file" %}</button>
{% endblock %}

{% block "file-caption" %}
<figcaption>
	<dl>
		<dt>{% trans 'Name' %}:</dt>
		<dd>${name}</dd>
	</dl>
	<dl>
		<dt>{% trans 'Content-Type (Size)' %}:</dt>
		<dd>${content_type} (${size})</dd>
	</dl>
	<div class="buttons are-small">
		<a class="dj-delete-file button is-warning is-small">{% trans "Delete" %}</a>
		<a class="dj-download-file button is-light is-small" href="${download_url}" download="${name}">{% trans "Download" %}</a>
	</div>
</figcaption>
{% endblock %}
