// border colors
$django-formset-alert: #ff0300;
$django-formset-warning: #ffa500;
$django-formset-success: #007a00;

// selectize items
$select-color-highlight: rgba(255, 237, 40, 0.4);
$select-color-dropdown: rgb(244, 244, 244);
$selected-items-border-color: rgba(0, 0, 0, 0.15);
$active-items-background-color: rgba(0, 0, 0, 0.05);

@use "sass:color";
$django-formset-color-invalid: 'rgb(' + #{color.red($django-formset-alert), color.green($django-formset-alert), color.blue($django-formset-alert)} + ')';
$django-formset-color-warning: 'rgb(' + #{color.red($django-formset-warning), color.green($django-formset-warning), color.blue($django-formset-warning)} + ')';
$django-formset-shadow-invalid: 'rgb(' + #{color.red($django-formset-alert), color.green($django-formset-alert), color.blue($django-formset-alert)} +', 0.25)';
$django-formset-color-valid: 'rgb(' + #{color.red($django-formset-success), color.green($django-formset-success), color.blue($django-formset-success)} + ')';
:root {
	--django-formset-color-invalid: #{$django-formset-color-invalid};
	--django-formset-shadow-invalid: #{$django-formset-shadow-invalid};
	--django-formset-color-valid: #{$django-formset-color-valid};
	--django-formset-icon-invalid: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="#{$django-formset-color-invalid}"><path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/></svg>');
	--django-formset-icon-warning: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="#{$django-formset-color-warning}"><path fill-rule="evenodd" d="M7.938 2.016a.146.146 0 0 0-.054.057L1.027 13.74a.176.176 0 0 0-.002.183c.016.03.037.05.054.06.015.01.034.017.066.017h13.713a.12.12 0 0 0 .066-.017.163.163 0 0 0 .055-.06.176.176 0 0 0-.003-.183L8.12 2.073a.146.146 0 0 0-.054-.057A.13.13 0 0 0 8.002 2a.13.13 0 0 0-.064.016zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/><path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/></svg>');
	--django-formset-icon-valid: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 16" fill="#{$django-formset-color-valid}"><path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"/></svg>');
}
