@mixin Dropbox {
	figure.dj-dropbox {
		all: unset;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		background-color: whitesmoke;
		margin: 0 0 0.25rem 0.25rem;
		padding: 0;
		list-style: none;
		height: 8rem;
		min-width: 8rem;
		outline: grey thin dotted;

		> div.dj-empty-item {
			flex-grow: 1;
			text-align: center;
			height: auto;
			p {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}

		> img {
			all: unset;
			flex-grow: 1;
			display: block;
			height: inherit;
			max-width: calc(100% - 12rem);
		}

		> figcaption {
			all: unset;
			padding: 0.25rem 0.5rem;
			background-color: white;
			overflow-x: hidden;
			min-width: 12rem;

			dl {
				font-size: small;
				margin: 0 0 0.25rem 0;

				dd {
					margin: 0;
				}
			}

			.dj-delete-file, .dj-download-file {
				font-weight: bold;
				display: inline-block;
				cursor: pointer;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			.dj-download-file {
				margin-left: 1rem;
				float: right;
			}

		}
	}
}
