@mixin Dropbox {
	figure.dj-dropbox {
		all: unset;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		background-color: color-mix(in srgb, var(--django-formset-background-color), currentcolor 5%);
		padding: 1px;
		height: 8rem;
		max-width: 100%;
		outline: rgb(128, 128, 128) thin dotted;

		> div.dj-empty-item {
			flex-grow: 1;
			text-align: center;
			min-width: 8rem;
			height: auto;
			p {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}

		> img {
			all: unset;
			display: block;
			height: 100%;
		}

		> figcaption {
			all: unset;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			overflow-x: hidden;
			margin: 0 0.5rem;
			height: 100%;

			dl {
				font-size: small;
				margin: 0 0 0.25rem 0;

				dd {
					margin: 0;
				}
			}

			> div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;

				.dj-delete-file, .dj-download-file {
					font-weight: bold;
					display: inline-block;
					cursor: pointer;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.dj-download-file {
				margin-left: 2rem;
			}

		}
	}
}
