@import "colors";

@mixin DualSelector {
	.dj-dual-selector {
		display: flex;

		.left-column, .right-column, .control-column, .control-panel {
			display: flex;
			flex-direction: column;
		}
		.control-column {
			justify-content: center;
			align-items: center;
		}
		.control-panel {
			padding: 1rem 0.5rem;
		}
		select, django-sortable-select {
			width: 10rem;
		}
		button svg {
			vertical-align: middle;
		}

		&.invalid {
			.right-column {
				input {
					border-color: var(--django-formset-color-invalid);
				}
				select:not(:focus), django-sortable-select:not(.focus) {
					border-left-color: var(--django-formset-color-invalid);
					border-right-color: var(--django-formset-color-invalid);
					border-bottom-color: var(--django-formset-color-invalid);
				}
			}
		}
	}
}
