@mixin DualSelector {
	.dj-dual-selector {
		display: flex;

		.left-column, .right-column, .control-column, .control-panel {
			display: flex;
			flex-direction: column;
		}
		.control-column {
			justify-content: center;
			align-items: center;
		}
		.control-panel {
			padding: 1rem 0.5rem;
		}
		select, django-sortable-select {
			height: 100%;
			width: 10rem;
		}
		button svg {
			vertical-align: middle;
		}
	}
}
