@import "colors";

@mixin DualSelector {
	.dj-dual-selector {
		display: flex;

		.left-column, .right-column, .control-column, .control-panel {
			display: flex;
			flex-direction: column;
		}
		.control-column {
			justify-content: center;
			align-items: center;
		}
		.control-panel {
			padding: 1rem 0.5rem;
		}
		select, django-sortable-select {
			min-width: 10rem;
		}
		select {
			height: auto;
		}
		input {
			z-index: 1;  // do not crop shadow of focused input field on scroll bar of select field
		}
		button svg {
			vertical-align: middle;
			width: 16px;
			height: 16px;
		}

		&.invalid {
			.right-column {
				input {
					border-color: var(--django-formset-color-invalid);
					&:focus {
						box-shadow: 0 0 0 0.2rem var(--django-formset-shadow-invalid);
					}
				}
				select, django-sortable-select {
					border-left-color: var(--django-formset-color-invalid);
					border-right-color: var(--django-formset-color-invalid);
					border-bottom-color: var(--django-formset-color-invalid);
				}
				select:focus, django-sortable-select.focus {
					border-top-color: var(--django-formset-color-invalid);
					box-shadow: 0 0 0 0.2rem var(--django-formset-shadow-invalid);
				}
			}
		}
	}
}
