@import "colors";

@mixin disabled {
	opacity: 0.5;
	pointer-events: none;
}

.dj-calendar {
	background-color: var(--django-formset-background-color);
	border: var(--border-width) var(--border-style) var(--border-color);
	border-radius: var(--border-radius);
	color: var(--django-formset-foreground-color);

	&[role="dialog"] {
		box-shadow: var(--border-color) 0 0 1rem;
	}

	[hidden] {
		display: none !important;
	}

	&.loading * {
		opacity: 0.75;
		pointer-events: none;
	}

	.controls {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--border-color);

		button {
			display: inline-flex;
			color: inherit;
			background-color: transparent;
			border: none;
			padding: 0;
			min-width: 28px;
			&.extend {
				flex-grow: 1;
			}
			&:hover {
				background-color: $active-item-background-color;
			}
			> svg {
				margin: 0 auto;
			}
		}

		time {
			width: 10rem;
			text-align: center;
		}

		&.years-view time {
			opacity: .75;
		}
	}

	.sheet-body {
		display: flex;
		flex-direction: row;
		padding: 0;

		.central {
			flex-grow: 1;
		}
		:is(.aside-left, .aside-right) {
			flex-grow: 0;
			font-weight: bold;
			font-size: small;
			width: 24px;
			time {
				white-space: nowrap;
				display: inline-block;
				line-height: 24px;
			}
		}
		.aside-left {
			&:has(> time:not(:empty)) {
				background-color: $selected-item-background-color;
			}
			> time:not(:empty) {
				transform: rotate(-90deg) translate(-140px, 24px);
				transform-origin: bottom left;
			}
		}
		.aside-right {
			&:has(> time:not(:empty)) {
				background-color: $selected-item-background-color;
			}
			> time:not(:empty) {
				transform: rotate(90deg) translate(30px, -24px);
				transform-origin: top left;
			}
		}

		ul {
			margin: 0;
			padding: 0;
			text-align: center;
			display: grid;
			gap: 2px;
			line-height: 38px;

			&:not(*) {
				background-color: $calendar-range-background-color;
			}

			> li {
				list-style: none;
				border-radius: 1px;

				&::selection {
					background-color: transparent;
				}

				&.preselected {
					outline: 2px solid $selected-item-background-color;
				}
			}

			&.hours {
				grid-template-columns: repeat(6, 1fr);
				margin-bottom: 2px;

				> li.constricted {
					border: 2px solid $selected-item-border-color;
					border-bottom-color: var(--django-formset-background-color);
					border-bottom-width: 2px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}
				> li:has(~ li.constricted) {
					border-bottom: 2px solid $selected-item-border-color;
				}
				> li.constricted ~ li {
					border-bottom: 2px solid $selected-item-border-color;
				}
			}

			&.minutes {
				font-size: smaller;
				border: 2px solid $selected-item-border-color;
				margin: -4px 0 4px;
				padding: 0;
				line-height: inherit;

				> li {
					width: inherit;
					&.preselected {
						// add bg-color to distinguish from outlines
						background-color: $active-item-background-color;
					}
				}
			}

			&.monthdays {
				grid-template-columns: repeat(7, 1fr);

				> li {
					&.adjacent {
						color: $semimuted-item-color;
					}
				}
			}

			&.months {
				grid-template-columns: repeat(3, 1fr);
			}

			&.years {
				grid-template-columns: repeat(4, 1fr);
			}

			&.weekdays {
				grid-template-columns: repeat(7, 1fr);
				font-weight: bold;
			}

			&:not(.weekdays) {
				--dummy-style: none;  // required by Calendar.transferStyles()

				> li {
					cursor: pointer;

					&.selected {
						background-color: $selected-item-background-color;

						&.today::after {
							border-color: transparent transparent var(--django-formset-background-color) transparent;
						}
					}

					&[disabled] {
						@include disabled;
					}

					&:not([disabled]):hover {
						opacity: 1;
						background-color: $active-item-background-color !important;
					}
				}
			}

			> li.today {
				position: relative;
				&::after {
					position: absolute;
					content: "";
					bottom: 0;
					right: 0;
					border-style: solid;
					border-width: 0 0 10px 10px;
					border-color: transparent transparent $selected-item-background-color transparent;
				}
			}
		}

		abbr[title] {
			text-decoration: none;
		}
	}
}

// Calendar widget
[is="django-datecalendar"], [is="django-datetimecalendar"],
[is="django-daterangecalendar"], [is="django-datetimerangecalendar"] {
	& + .dj-calendar {
		.sheet-body ul.monthdays {
			grid-template-rows: repeat(6, 1fr);  // keeps height consistent across months
		}
	}
}

[is="django-datecalendar"], [is="django-datetimecalendar"],
[is="django-daterangecalendar"], [is="django-datetimerangecalendar"],
[is="django-datepicker"], [is="django-datetimepicker"],
[is="django-daterangepicker"], [is="django-datetimerangepicker"] {
	&[disabled] ~ .dj-calendar .sheet-body ul > li {
		@include disabled;
	}
}

// Calendar popup dialog
[aria-haspopup="dialog"] + .dj-calendar {
	width: max-content;
	position: absolute;
	top: 0;
	left: 0;
}

[aria-expanded="false"] + .dj-calendar {
	display: none;
}

[aria-expanded="true"] + .dj-calendar {
	display: block;
}
