@import "colors";

[is^="django-date"] {
	--dummy-style: none;  // required by DateTime.transferStyles()

	// Date input fields
	+ [role="textbox"] {
		display: flex !important;
		align-items: center;
		flex-direction: row-reverse;
		flex-wrap: nowrap;
		justify-content: flex-end;
		background-color: var(--background-color);
		border: var(--border-width) var(--border-style) var(--border-color);
		border-radius: var(--border-radius);

		&.focus {
			--dummy-style: none;  // required by Calendar.transferStyles()
		}

		> .calendar-picker-indicator {
			display: flex;
			align-items: center;
			cursor: pointer;
			svg {
				scale: 0.75;
			}
		}

		> .datetime-edit {
			display: flex;
			flex-wrap: nowrap;
			margin-inline: 0.25rem;
			overflow-x: hidden;

			> .datetime-delimiter {
				color: $semimuted-item-color;
				margin: 0 -1px;
				&.wide {
					margin: 0;
					padding: 0 0.125rem;
				}
				&.extrawide {
					margin: 0 0.25rem;
					padding: 0 0.125rem;
				}
			}
			> .datetime-edit-year-field, > .datetime-edit-month-field, > .datetime-edit-day-field,
			> .datetime-edit-hour-field, > .datetime-edit-minute-field {
				padding: 0.125rem;
				cursor: text;
				caret-color: transparent;

				&:focus-visible {
					border-radius: 3px;
					outline: none;
					background-color: $selected-item-background-color;
				}
			}

			> .datetime-edit-year-field:empty::after {
				content: "yyyy";
				color: $semimuted-item-color;
			}

			> .datetime-edit-month-field:empty::after {
				content: "mm";
				color: $semimuted-item-color;
			}

			> .datetime-edit-day-field:empty::after {
				content: "dd";
				color: $semimuted-item-color;
			}

			> .datetime-edit-hour-field:empty::after {
				content: "HH";
				color: $semimuted-item-color;
			}

			> .datetime-edit-minute-field:empty::after {
				content: "MM";
				color: $semimuted-item-color;
			}
		}
	}


	&[disabled] + [role="textbox"] {
		background-color: var(--background-muted-color);
	}

}
