[is="django-datepicker"], [is="django-datetimepicker"] {
	& + .dj-calendar {
		width: 280px;
		border: 1px solid lightgray;
		box-shadow: lightgray 0 0 1rem;
		border-radius: 6px;
		background-color: white;

		.controls {
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;
			border-bottom: 1px solid #d3d3d3;

			button {
				display: inline-flex;
				background-color: transparent;
				border: none;
			}

			time {
				width: 140px;
				text-align: center;

				&:hover {
					cursor: pointer;
				}
			}
		}

		.ranges {
			padding: 0.5rem;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;
				display: grid;

				&.hours {
					grid-template-columns: repeat(6, 1fr);
				}

				&.minutes {
					grid-template-columns: repeat(4, 1fr);
				}

				&.weekdays, &.monthdays {
					grid-template-columns: repeat(7, 1fr);
				}

				&.months {
					grid-template-columns: repeat(3, 1fr);
				}

				&.years {
					grid-template-columns: repeat(4, 1fr);
				}

				&.weekdays {
					font-weight: bold;
					padding-bottom: 0;

					> li:not([disabled]):hover {
						background-color: inherit;
					}
				}

				> li {
					line-height: 2rem;

					&.adjacent {
						color: #808080;
					}

					&.today {
						border: 1px solid #a8a8a8;
					}

					&.selected {
						background-color: #007bff;
						color: white;
					}

					&[disabled] {
						opacity: 0.5;
					}

					&:not([disabled]):hover {
						opacity: 1;
						background-color: #d0d0d0;
						cursor: pointer;
					}
				}
			}

			abbr[title] {
				text-decoration: none;
				cursor: default;
			}
		}
	}

	&[aria-expanded="false"] + .dj-calendar {
		display: none;
	}

	&[aria-expanded="true"] + .dj-calendar {
		display: block;
	}
}
