
[is="django-datepicker"] {
	& + .dj-calendar {
		width: 280px;
		border: 1px solid lightgray;
		box-shadow: lightgray 0 0 1rem;
		border-radius: 6px;
		background-color: white;

		.control {
			display: flex;
			justify-content: space-between;
			padding: 0.5rem;
			border-bottom: 1px solid #d3d3d3;
		}
		button {
			display: inline-flex;
			background-color: transparent;
			border: none;
		}
		time {
			width: 140px;
			text-align: center;
			&:hover {
				cursor: pointer;
			}
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0.5rem;
			text-align: center;
			display: grid;

			> li {
				line-height: 2rem;
				&.adjacent {
					color: #808080;
				}
				&.today {
					border: 1px solid #a8a8a8;
				}
				&.selected {
					background-color: #007bff;
					color: white;
				}
				&:hover {
					opacity: 1;
					background-color: #d0d0d0;
				}
				&[disabled] {
					opacity: 0.5;
				}
			}
		}

		.weekdays {
			grid-template-columns: repeat(7, 1fr);
			li:nth-child(n):nth-child(-n+7) {
				font-weight: bold;
				&:hover {
					background-color: initial;
				}
			}
		}

		.months {
			grid-template-columns: repeat(3, 1fr);
		}

		.years {
			grid-template-columns: repeat(4, 1fr);
		}

		abbr[title] {
			text-decoration: none;
			cursor: default;
		}
	}

	&[aria-expanded="false"] + .dj-calendar {
		display: none;
	}

	&[aria-expanded="true"] + .dj-calendar {
		display: block;
	}
}
