@import "colors";

:is([is="django-datepicker"], [is="django-datetimepicker"], [is="django-daterangepicker"]) {
	--dummy-style: none;  // required by Calendar.transferStyles()

	&[hidden] {
		// Using display: none causes: "An invalid form control with name='…' is not focusable." -error.
		display: block !important;
		width: 0 !important;
		height: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
		border: none !important;
		outline: none !important;
		box-shadow: none !important;
	}

	// Date input fields
	+ [role="textbox"] {
		position: relative;

		&.focus {
			--dummy-style: none;  // required by Calendar.transferStyles()
		}

		> .calendar-picker-indicator {
			display: flex;
			align-items: center;
			position: absolute;
			top: 0;
			left: 0.5rem;
			bottom: 0;
			cursor: pointer;
			svg {
				scale: 0.75;
			}
		}

		> .datetime-edit {
			margin-left: calc(1rem + 0.6em);

			> .datetime-delimiter {
				color: $calendar-delimiter-color;
			}
			> .datetime-edit-year-field, > .datetime-edit-month-field, > .datetime-edit-day-field,
			> .datetime-edit-hour-field, > .datetime-edit-minute-field {
				padding: 0.125rem;
				cursor: text;
				caret-color: transparent;

				&:focus-visible {
					border-radius: 3px;
					outline: none;
					background-color: $calendar-selected-background-color;
					color: $calendar-selected-color;
				}
			}

			> .datetime-edit-year-field:empty::after {
				content: "yyyy";
				color: lightgrey;
			}

			> .datetime-edit-month-field:empty::after {
				content: "mm";
				color: lightgrey;
			}

			> .datetime-edit-day-field:empty::after {
				content: "dd";
				color: lightgrey;
			}

			> .datetime-edit-hour-field:empty::after {
				content: "HH";
				color: lightgrey;
			}

			> .datetime-edit-minute-field:empty::after {
				content: "MM";
				color: lightgrey;
			}
		}
	}

}
