@import "colors";

:is([is="django-datepicker"], [is="django-datetimepicker"]) {
	--dummy-style: none;  // required by Calendar.transferStyles()

	&[hidden] {
		display: none;
	}

	// Calendar popup dialog
	& + * + .dj-calendar {
		box-shadow: lightgray 0 0 1rem;
		width: max-content;
		position: absolute;
		top: 0;
		left: 0;

		[hidden] {
			display: none !important;
		}

		.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid lightgrey;

			button {
				display: inline-flex;
				background-color: transparent;
				border: none;
				padding: 0;
				min-width: 28px;
				&:hover {
					background-color: $calendar-hover-background-color;
				}
				> svg {
					margin: 0 auto;
				}
			}

			time {
				width: 10rem;
				text-align: center;
			}

			&.years-view time {
				opacity: .75;
			}
		}

		.ranges {
			--dummy-style: none;  // required by Calendar.transferStyles()

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				text-align: center;
				display: grid;
				gap: 2px;

				&.hours {
					grid-template-columns: repeat(6, 1fr);
					> li.preselected {
						border: 1px solid lightgrey;
						border-bottom-color: white;
						border-top-left-radius: 5px;
						border-top-right-radius: 5px;
					}
				}

				&.weekdays, &.monthdays {
					grid-template-columns: repeat(7, 1fr);
				}

				&.monthdays {
					> li.adjacent {
						color: $calendar-adjacent-color;
					}
				}

				&.months {
					grid-template-columns: repeat(3, 1fr);
				}

				&.years {
					grid-template-columns: repeat(4, 1fr);
				}

				&.weekdays {
					font-weight: bold;
				}

				&:not(.weekdays) {
					--dummy-style: none;  // required by Calendar.transferStyles()

					> li {
						&.selected {
							background-color: $calendar-selected-background-color;
							color: $calendar-selected-color;

							&.today::after {
								border-color: transparent transparent $calendar-selected-color transparent;
							}
						}

						&[disabled] {
							opacity: 0.5;
						}

						&:not([disabled]):hover {
							opacity: 1;
							background-color: $calendar-hover-background-color;
							cursor: pointer;
						}
					}
				}

				&.minutes {
					font-size: smaller;
					border: 1px solid lightgrey;
					margin: -1px 0 3px;
					padding: 0 5px;
					line-height: inherit;

					> li {
						width: inherit;
					}
				}

				&.monthdays > li {
					width: 2em;
				}

				> li.today {
					position: relative;
					&::after {
						position: absolute;
						content: "";
						bottom: 0;
						right: 0;
						border-style: solid;
						border-width: 0 0 10px 10px;
						border-color: transparent transparent $calendar-selected-background-color transparent;
					}
				}
			}

			abbr[title] {
				text-decoration: none;
			}
		}
	}

	& + [aria-expanded="false"] + .dj-calendar {
		display: none;
	}

	& + [aria-expanded="true"] + .dj-calendar {
		display: block;
	}

	// Date input fields
	+ [role="textbox"] {
		&.focus {
			--dummy-style: none;  // required by Calendar.transferStyles()
		}

		> .calendar-icon {
			display: inline-block;
			height: 24px;
			margin-right: 0.5rem;
			cursor: pointer;
			svg {
				display: inline;
			}
		}

		> .delimiter {
			color: $calendar-delimiter-color;
		}

		> .input-year, > .input-month, > .input-day, > .input-hour, > .input-minute {
			padding: 0.125rem;
			cursor: text;
			caret-color: transparent;

			&:focus-visible {
				border-radius: 3px;
				outline: none;
				background-color: $calendar-selected-background-color;
				color: $calendar-selected-color;
			}
		}

		> .input-year:empty::after {
			content: "yyyy";
			color: lightgrey;
		}
		> .input-month:empty::after {
			content: "mm";
			color: lightgrey;
		}
		> .input-day:empty::after {
			content: "dd";
			color: lightgrey;
		}
		> .input-hour:empty::after {
			content: "HH";
			color: lightgrey;
		}
		> .input-minute:empty::after {
			content: "MM";
			color: lightgrey;
		}
	}

}
