// This stylesheet is added to the shadow root created by DjangoSelectize.
// Changes in here do not affect HTML elements outside of this realm.
$select-color-highlight: rgba(255, 237, 40, 0.4);
$select-color-dropdown: rgb(244, 244, 244);

.ts-wrapper {
	position: relative;

	.ts-control {
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		align-content: center;

		> input {
			flex: 1 1 auto;
			box-sizing: border-box;
			user-select: auto;
			box-shadow: none;
			border: none;
			padding: 0;
			font-size: inherit;
			font-weight: inherit;
			font-style: inherit;
			font-family: inherit;

			&::placeholder {
				opacity: 1;
			}

			&::-ms-clear {
				display: none;
			}

			&:focus {
				outline: none !important;
			}
		}

		> div {
			flex: 0 1 auto;
			box-sizing: border-box;
		}
	}

	&.multi {
		.ts-control {
			padding: 0 6px 3px 10px;
			> div {
				border: 1px solid rgba(0, 0, 0, 0.15);
				border-radius: 3px;
				margin: 3px 3px 0 0;

				.remove {
					text-decoration: none;
					color: rgba(0, 0, 0, 0.15);
					border-left: 1px solid rgba(0, 0, 0, 0.15);
					padding-left: 2px;
					margin-left: 2px;

					&:hover {
						color: inherit;
					}
				}

				&.active {
					background-color: rgba(0, 0, 0, 0.15);
				}
			}
		}
		&.full .ts-control > input {
			visibility: hidden;
		}
	}

	&.focus .ts-control {
		opacity: 1;
	}

	&.disabled .ts-control {
		opacity: 1;
	}

	// Hide input, while retaining its focus, and maintain layout so users can still click on the
	// space to bring the display back.
	// Setting `visibility: hidden;` can prevent the input from receiving focus.
	&.input-hidden, &.has-items:not(.dirty) {
		.ts-control > input {
			opacity: 0;
			position: absolute;
			left: -10000px;
		}
	}

	&:not(.multi).dirty.focus .ts-control .item {
		display: none;
	}

	.ts-dropdown {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		z-index: 10;

		background: $select-color-dropdown;
		backdrop-filter: blur(0.5rem);
		margin: 0.125rem 0 0 0;
		border-top: 0 none;
		box-sizing: border-box;

		[data-selectable] {
			cursor: pointer;
			overflow: hidden;

			.highlight {
				background: $select-color-highlight;
				border-radius: 1px;
			}
		}

		.ts-dropdown-content {
			overflow-y: auto;
			overflow-x: hidden;
			overflow-scrolling: touch;
			scroll-behavior: smooth;
		}
	}
}

:host-context(django-field-group.dj-dirty) .ts-wrapper {
	&.has-items:not(.input-active) .ts-control {
		border-color: var(--django-formset-color-valid);
	}

	&.invalid:not(.input-active) .ts-control {
		border-color: var(--django-formset-color-invalid);
	}
}
