// This stylesheet is added to the shadow root created by DjangoSelectize.
// Changes in here do not affect HTML elements outside of this realm.
@import "colors";


.ts-wrapper {
	position: relative;

	.ts-control {
		background-color: var(--django-formset-background-color);
		border: var(--border-width) var(--border-style) var(--border-color);
		border-radius: var(--border-radius);
		overflow: hidden;
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		background-image: var(--django-formset-dropdown-caret);
		background-position: right 0.25rem center;
		background-repeat: no-repeat;
		background-size: 1rem;

		.items-placeholder, input[role="combobox"] {
			flex: 1 1 auto;
			box-sizing: border-box;
			user-select: auto;
			box-shadow: none;
			border: none;
			color: $semimuted-item-color;
			background-color: transparent;
			padding: 0 3px;
			font-size: inherit;
			font-weight: inherit;
			font-style: inherit;
			font-family: inherit;

			&::placeholder {
				opacity: 1;
				background-color: transparent;
			}

			&::-ms-clear {
				display: none;
			}

			&:focus {
				outline: none !important;
			}
		}

		.clear-button {
			visibility: hidden;
			cursor: pointer;
		}

		> div {
			flex: 0 1 auto;
			box-sizing: border-box;
		}
	}

	&.multi {
		.ts-control {
			padding-top: 0;
			padding-bottom: 3px;

			.item {
				border: 1px solid color-mix(in srgb, var(--border-color), currentcolor 15%);
				border-radius: 3px;
				margin: 3px 3px 0 0;
				padding-left: 4px;

				.remove {
					text-decoration: none;
					color: color-mix(in srgb, currentcolor, transparent 25%);
					border-left: 1px solid color-mix(in srgb, var(--border-color), currentcolor 15%);
					padding: 0 1px;
					margin-left: 4px;

					&:hover {
						color: currentcolor;
					}
				}
			}
		}

		&.has-items .ts-control {
			padding-left: 6px;
		}

		&.full .ts-control .items-placeholder {
			visibility: hidden;
		}
	}

	&.has-items .ts-control {
		input[role="combobox"]::placeholder, input.items-placeholder::placeholder {
			opacity: 0;
		}

		.clear-button {
			color: color-mix(in srgb, currentcolor, transparent 25%);
			visibility: visible;

			&:hover {
				color: currentcolor;
			}
		}
	}

	&.focus .ts-control {
		--dummy-style: none;  // required by DjangoSelectize.initialize()
	}

	&.disabled .ts-control {
		opacity: 0.5;
	}

	// Hide input, while retaining its focus, and maintain layout so users can still click on the
	// space to bring the display back.
	// Setting `visibility: hidden;` can prevent the input from receiving focus.
	&.input-hidden {
		.ts-control .items-placeholder {
			opacity: 0;
			position: absolute;
			left: -10000px;
		}
	}

	&.focus .ts-control .items-placeholder {
		font-style: italic;
	}

	.ts-dropdown {
		position: absolute;
		top: 100%;
		left: var(--border-radius);
		right: var(--border-radius);
		z-index: 2;

		background-color: color-mix(in srgb, var(--django-formset-background-color), transparent 25%);
		backdrop-filter: blur(1rem);
		margin: 0;
		border-top: none;
		border-right: var(--border-width) var(--border-style) var(--border-color);
		border-bottom: var(--border-width) var(--border-style) var(--border-color);
		border-left: var(--border-width) var(--border-style) var(--border-color);
		border-bottom-left-radius: var(--border-radius);
		border-bottom-right-radius: var(--border-radius);
		box-sizing: border-box;

		[data-selectable] {
			cursor: pointer;
			overflow: hidden;

			&[aria-selected="true"] {
				background-color: $active-item-background-color;
			}
			&.selected {
				background-color: $selected-item-background-color;
			}
			.highlight {
				background: $select-color-highlight;
				border-radius: 1px;
			}
		}

		.dropdown-input-wrap {
			box-sizing: border-box;
			width: 100%;
			padding: 0.25rem;

			.dropdown-input {
				width: 100%;
				box-sizing: border-box;
				border: var(--border-width) var(--border-style) var(--border-color);
				border-radius: var(--border-radius);

				&:focus-visible {
					--dummy: none;  // required by DjangoSelectize.initialize()
				}
			}
		}

		.ts-dropdown-content {
			overflow-y: auto;
			overflow-x: hidden;
			overflow-scrolling: touch;
			scroll-behavior: smooth;
		}

		.optgroup {
			.optgroup-header {
				color: $semimuted-item-color;
			}
			.option {
				margin-left: 1em;
			}
		}

		.option .sublabel {
			display: block;
			font-size: smaller;
			line-height: 1;
			padding-bottom: 0.25rem;
			color: $semimuted-item-color;
		}
	}
}

// .ds-unique-identifier is replaced against a unique identifier for each shadow root.
:host-context([role="group"].dj-touched.ds-unique-identifier) .ts-wrapper {
	&:not(.invalid).has-items:not(.input-active) .ts-control {
		border-color: var(--django-formset-color-valid);
	}

	&.invalid:not(.input-active) .ts-control {
		border-color: var(--django-formset-color-invalid);
	}
}

:host-context([role="group"].dj-submitted) .ts-wrapper {
	&.invalid .ts-control {
		border-color: var(--django-formset-color-invalid);
	}

	&.invalid.focus .ts-control {
		opacity: 1;
		box-shadow: var(--django-formset-box-shadow-invalid);
	}
}
