.select-country-item {
	.fi.fib {
		margin-right: 0.5em;
	}
}
$flag-icons-path: "/static/node_modules/flag-icons/flags" !default;
$flag-icons-rect-path: "/4x3" !default;
$flag-icons-square-path: "/1x1" !default;
$flag-icons-use-square: true !default;
@import "node_modules/flag-icons/sass/flag-icons-base";
@import "node_modules/flag-icons/sass/flag-icons-list";
