@import "colors";

@keyframes progress-animation {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 50px 50px;
	}
}

django-formset .dj-control-panel:has(input[type="file"]) {
	display: flex;

	input[type="file"] {
		// `display: none;` causes Chrome to complain on calling `form.reportValidity()`.
		width: 0 !important;
		height: 0 !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	> div {
		height: fit-content;
		margin-left: 1rem;
		progress {
			width: 100%;
			height: 1rem;
			margin-top: 0.25rem;
			-webkit-appearance: none;

			&::-webkit-progress-bar {
				border-radius: 0.5rem;
			}

			&::-webkit-progress-value {
				transition: width 0.3s ease;
				background-color: $selected-item-background-color;
				border-radius: 0.5rem;
			}

			&[value="1"]::-webkit-progress-value {
				background-color: $selected-item-border-color;
			}

			&.processing::-webkit-progress-value {
				background-color: $selected-item-background-color;
				background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
				background-size: 50px 50px;
				background-repeat: repeat;
				animation: progress-animation 2s linear infinite;
			}
		}
	}

	figure.dj-dropbox {
		all: unset;
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		background-color: color-mix(in srgb, var(--django-formset-background-color), currentcolor 5%);
		padding: 1px;
		height: 8rem;
		max-width: 100%;
		outline: var(--outline-color) thin dotted;

		&:has(> .dj-empty-item) {
			outline: var(--outline-color) 2px dashed;
			border-radius: 0.25rem;
		}

		&.drag-over {
			opacity: 0.4;
		}

		> div.dj-empty-item {
			flex-grow: 1;
			text-align: center;
			min-width: 8rem;
			height: auto;
			p {
				padding: 2rem;
				margin: 0;
			}
		}

		> img {
			all: unset;
			display: block;
			height: 100%;
		}

		> figcaption {
			all: unset;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			overflow-x: hidden;
			margin: 0 0.5rem;
			height: 100%;

			dl {
				font-size: small;
				margin: 0 0 0.25rem 0;

				dd {
					margin: 0;
				}
			}

			> div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;

				.dj-delete-file, .dj-download-file {
					font-weight: bold;
					display: inline-block;
					cursor: pointer;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			.dj-download-file {
				margin-left: 2rem;
			}

		}

	}
}
