@import "colors";

[is="django-phone-number"] {
	--dummy-style: none; // required by PhoneNumberField.transferStyles()

	// number input field
	+ [role="textbox"] {
		display: flex;
		justify-content: flex-start;
		border: var(--border-width) var(--border-style) var(--border-color);
		border-radius: var(--border-radius);

		&.focus {
			--dummy-style: none; // required by PhoneNumberField.transferStyles()
		}

		> .international-picker {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			cursor: pointer;

			&:empty::after {
				content: "";
				width: 1em;
				height: 1em;
				background-image: var(--django-formset-dropdown-caret);
			}

			span {
				width: 24px;
			}
		}

		> .phone-number-edit {
			overflow-x: hidden;
			margin-left: 0.5rem;
			flex-grow: 1;

			&:focus-visible {
				outline: none;
			}
		}

		&[aria-haspopup="dialog"] {
			// International prefix popup dialog
			+ [role="dialog"] {
				display: flex;
				flex-direction: column;
				background-color: var(--django-formset-background-color);
				border: var(--border-width) var(--border-style) var(--border-color);
				border-radius: var(--border-radius);
				box-shadow: var(--border-color) 0 0 1rem;
				position: absolute;
				top: 0;
				left: 0;

				input[type="search"] {
					width: 100%;
					margin-bottom: 5px;
					line-height: initial;
					color: inherit;
					background-color: inherit;
					border: var(--border-width) var(--border-style) var(--border-color);
					border-radius: var(--border-radius);

					&:focus {
						--dummy-style: none; // required by PhoneNumberField.transferStyles()
					}
				}

				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					overflow-y: scroll;
					max-height: 450px;
					li {
						padding: 0.25rem;
						cursor: pointer;
						&:hover {
							background-color: $active-item-background-color;
						}
						&.selected {
							background-color: $selected-item-background-color;
							border: 1px solid $selected-item-border-color;
						}
						.flag-icon {
							margin-right: 0.5rem;
							vertical-align: text-bottom;
						}
					}
				}
			}

			&[aria-expanded="false"] + [role="dialog"] {
				display: none;
			}

			&[aria-expanded="true"] + [role="dialog"] {
				display: block;
			}
		}
	}
}
