.dj-richtext-wrapper {
	--richtext-menu-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 10%);
	--richtext-button-opacity: 0.6;
	--richtext-button-hover-opacity: 1;
	--richtext-button-active-bgcolor: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 66%);
	--richtext-placeholder-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 50%);
	--richtext-blockquote-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 75%);
	--richtext-code-block-color: color-mix(in srgb, currentcolor, var(--django-formset-background-color) 95%);
	--richtext-output-box-shadow: inset 0 0 5px color-mix(in srgb, currentcolor, var(--django-formset-background-color) 40%);
	--richtext-footnote-color: light-dark(hsl(225 100% 40%), hsl(225 100% 70%));
	--richtext-tooltip-color: var(--django-formset-background-color);
	--richtext-tooltip-background: var(--django-formset-fg-color);
	--richtext-tooltip-padding-x: 0.5rem;
	--richtext-tooltip-padding-y: 0.25rem;
	--richtext-tooltip-radius: 3px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	position: relative;
	overflow: auto;
	border-color: var(--border-color);

	[role="menubar"] {
		border-bottom-color: var(--border-color);
		flex: 0 1 auto;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		inset: 0 0 auto 0;
		padding: 0.125rem 0.25rem;
		color: var(--richtext-menu-color);

		@mixin separator {
			display: flex;

			&::after {
				content: "";
				display: block;
				opacity: var(--richtext-button-opacity);
				border-right: 1px solid var(--richtext-menu-color);
				align-self: center;
				height: 24px;
				width: 1px;
				margin: 0 1px;
			}
		}

		[role="group"] {
			padding: 0;
			display: flex;

			&.has-sibling {
				@include separator;
			}
		}

		[role="separator"] {
			@include separator;
		}

		button {
			display: block;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			border: none;
			border-radius: 0.25rem;
			padding: 0.25rem;
			color: inherit;
			background-color: inherit;
			opacity: var(--richtext-button-opacity);
			transition: opacity 0.3s ease;
			&:hover {
				opacity: var(--richtext-button-hover-opacity);
			}
			&.active {
				background-color: var(--richtext-button-active-bgcolor);
			}
			&[aria-haspopup="true"] {
				&::after {
					border-bottom: 0;
					border-left: 0.3em solid transparent;
					border-right: 0.3em solid transparent;
					border-top: 0.3em solid currentcolor;
					margin-right: 0.125rem;
					content: "";
					display: inline-block;
					transition: transform 250ms ease-in-out;
				}
				&[aria-expanded="true"]::after {
					transform: scaleY(-1);
				}
				& + ul[role="menu"] {
					display: none;
					position: fixed;
					top: 0;
					left: 0;
					width: max-content;
					padding: inherit;
					margin: 0;
					list-style: none;
					background-color: var(--django-formset-background-color);
					border: 1px solid var(--border-color);
					box-shadow: var(--border-color) 0 0 1rem;

					> li {
						padding: 0.25rem 0.5rem;
						background-color: inherit;
						color: inherit;
						opacity: var(--richtext-button-opacity);

						&:hover {
							opacity: var(--richtext-button-hover-opacity);
						}
						&.active {
							background-color: var(--richtext-button-active-bgcolor);
						}
					}
				}
				&[aria-expanded="true"] + ul[role="menu"] {
					display: block;
				}
			}
			> svg {
				vertical-align: middle;
				display: inline;
			}
		}

		.tooltip {
			position: fixed;
			top: 0;
			left: 0;
			z-index: 1;
			color: var(--richtext-tooltip-color);
			background: var(--richtext-tooltip-background);
			padding: var(--richtext-tooltip-padding-y, 0.25rem) var(--richtext-tooltip-padding-x, 0.5rem);
			border-radius: var(--richtext-tooltip-radius, 3px);

			> .arrow {
				width: 10px;
				height: 10px;
				position: absolute;
				padding: 0;
				margin: 0;
				border-width: 5px;
				border-color: transparent;
				border-style: solid;
				box-sizing: border-box;
			}

			&.tooltip-top {
				margin-bottom: 5px;
				> .arrow {
					bottom: -10px;
					left: calc(50% - 5px);
					border-top-color: var(--bs-tooltip-bg, #000);
				}
			}
			&.tooltip-right {
				margin-left: 5px;
				> .arrow {
					left: -10px;
					top: calc(50% - 5px);
					border-right-color: var(--bs-tooltip-bg, #000);
				}
			}
			&.tooltip-bottom {
				margin-top: 5px;
				> .arrow {
					top: -10px;
					left: calc(50% - 5px);
					border-bottom-color: var(--bs-tooltip-bg, #000);
				}
			}
			&.tooltip-left {
				margin-right: 5px;
				> .arrow {
					right: -10px;
					top: calc(50% - 5px);
					border-left-color: var(--bs-tooltip-bg, #000);
				}
			}
		}
	}

	.character-count {
		position: absolute;
		bottom: 3px;
		right: 6px;
		color: var(--richtext-placeholder-color);
	}

	dialog {
		max-height: calc(100% - 1rem);
		max-width: calc(100% - 1rem);
		flex-direction: column;
		overflow-y: auto;
		resize: both;

		&[open] {
			display: flex;
		}
	}

	.ProseMirror {
		position: absolute;
		inset: auto 0 0 0;
		border: none;
		flex: 1 0 auto;
		word-wrap: break-word;
		white-space: break-spaces;
		font-variant-ligatures: none;
		font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
		overflow: hidden;

		&[contenteditable="false"] {
				white-space: normal;
		}

		p {
			margin-bottom: 0.5rem;

			&.is-editor-empty:first-child::before {
				color: var(--richtext-placeholder-color);
				content: attr(data-placeholder);
				float: left;
				height: 0;
				pointer-events: none;
			}

			&[data-text="indent"] {
				text-indent: 3em;
			}
			&[data-text="outdent"] {
				text-indent: -3em;
				padding-left: 3em;
			}
			@for $indent from 1 through 10 {
				&[data-text-indent="#{$indent}"] {
					margin-left: #{2 * $indent}em;
				}
			}
		}

		li > p {
			margin: 0;
		}

		&:focus-visible {
			outline: none;
		}

		blockquote {
			border-left: 0.25rem solid var(--richtext-blockquote-color);
			margin-left: 0.25rem;
			padding-left: 0.5rem;
		}

		output[role="placeholder"] {
			box-shadow: var(--richtext-output-box-shadow);
			border-radius: 0.125rem;
			padding-left: 0.25rem;
			padding-right: 0.25rem;
		}

		span[role="note"] {
			display: inline-block;
			margin-left: 0.125em;
			margin-right: 0.125em;
			&::after {
				content: "[*]";
				font-weight: 500;
				font-size: 75%;
				vertical-align: super;
				color: var(--richtext-footnote-color);
			}
		}

		pre {
			padding: 0.5rem 1rem;
			background-color: var(--richtext-code-block-color);
			font-family: monospace;
		}

		pre {
			white-space: pre-wrap;
		}
	}

	&.focused {
		opacity: 1;
	}

	.dj-submitted &.focused.invalid {
		box-shadow: var(--django-formset-box-shadow-invalid);
	}

	.dj-touched &:not(.focused).invalid {
		border-color: var(--django-formset-color-invalid);
	}

	.dj-dirty &:not(.focused).valid {
		border-color: var(--django-formset-color-valid);
	}
}
