	.ProseMirror {
		word-wrap: break-word;
		white-space: break-spaces;
		font-variant-ligatures: none;
		font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */

		&[contenteditable="false"] {
				white-space: normal;
		}

		&.ProseMirror-focused {
			opacity: 1;
		}

		pre {
			white-space: pre-wrap;
		}
	}

.richtext-wrapper {
	position: relative;

	[role="group"] {
		position: absolute;
		top: 0;
		right: 3em;
		transform: translate(0, -85%);
	}

}
