@import "colors";

.dj-richtext-wrapper {
	--button-active: #{$richtext-button-active};
	--button-opacity: #{$richtext-button-opacity};

	position: relative;

	[role="menubar"] {
		border: none;
		position: absolute;
		inset: 0 0 auto 0;
		padding: 0.125rem 0.25rem;

		[role="separator"] {
			display: inline-block;
			padding: 0.25rem 0;
			vertical-align: middle;
		}

		button {
			display: inline-block;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			border: none;
			border-radius: 0.25rem;
			padding: 0.25rem;
			background-color: inherit;
			opacity: var(--button-opacity);
			&:hover {
				opacity: 1;
			}
			&.active {
				opacity: 1;
				background-color: var(--button-active);
			}
			&[richtext-toggle="heading"] {
				&:after {
					border-bottom: 0;
					border-left: 0.3em solid transparent;
					border-right: 0.3em solid transparent;
					border-top: 0.3em solid;
					margin-right: 0.125rem;
					content: "";
					display: inline-block;
					transition: transform 250ms ease-in-out;
				}
				&[aria-expanded="true"]:after {
					transform: scaleY(-1);
				}
				& + ul[role="menu"] {
					display: none;
					padding: inherit;
					list-style: none;
					background-color: inherit;
					border-color: black;
					> li {
						background-color: inherit;
						opacity: var(--button-opacity);

						&:hover {
							opacity: 1;
						}

						&.active {
							color: inherit;
							opacity: 1;
							background-color: var(--button-active);
						}
					}
				}
				&[aria-expanded="true"] + ul[role="menu"] {
					display: block;
				}
			}
			> svg {
				vertical-align: middle;
				display: inline;
			}
		}
	}

	.ProseMirror {
		border: none;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		word-wrap: break-word;
		white-space: break-spaces;
		font-variant-ligatures: none;
		font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
		overflow: hidden;

		&[contenteditable="false"] {
				white-space: normal;
		}

		p {
			margin-bottom: 0.5rem;
		}

		li > p {
			margin: 0;
		}

		&:focus-visible {
			outline: none;
		}

		pre {
			white-space: pre-wrap;
		}
	}

	&.focused {
		opacity: 1;
	}

	.dj-submitted &.focused.invalid {
		opacity: 1;
	}

	&:not(.focused).invalid {
		border-color: var(--django-formset-color-invalid);
	}

	&:not(.focused).valid {
		border-color: var(--django-formset-color-valid);
	}
}
