django-sortable-select {
	opacity: 1;

	&.focus {
		opacity: 1;

		> option {
			&.sortable-selected {
				opacity: 1;
				cursor: grab;
			}
			&.sortable-chosen, &.sortable-ghost {
				opacity: 1;
				cursor: grabbing !important;
			}
		}
	}

	> option {
		line-height: normal;
		cursor: default;

		&.sortable-chosen, &.sortable-selected {
			opacity: 1;
		}
	}
}
