django-sortable-select {
	background-color: transparent !important;

	&.focus {
		opacity: 1;
	}

	option, optgroup {
		&.sortable-selected {
			opacity: 1;
			cursor: grab;
		}
		&.sortable-chosen, &.sortable-ghost {
			opacity: 1;
			cursor: grabbing !important;
		}
	}

	option {
		display: block;
		line-height: normal;
		cursor: default;

		&.sortable-chosen, &.sortable-selected {
			opacity: 1;
		}
	}

	optgroup {
		option::before {
			opacity: 1;
		}
	}
}
