{% load i18n %}{% spaceless %}
<div class="controls months-view">
	<button data-date="{{ calendar.prev_year }}" class="prev" type="button">
		{% include "formset/icons/arrow-left.svg" %}
	</button>
	<button data-date="{{ calendar.startdate|date:'c' }}" class="back" title="{% translate 'Back' %}">
		{% include "formset/icons/arrow-up.svg" %}
	</button>
  <time datetime="{{ calendar.startdate|date:'c' }}">{{ calendar.startdate|date:'Y' }}</time>
	<button data-date="{{ calendar.today }}" class="today" title="{% translate 'Today' %}">
		{% include "formset/icons/calendar-today.svg" %}
	</button>
	<button data-date="{{ calendar.next_year }}" class="next" type="button">
		{% include "formset/icons/arrow-right.svg" %}
	</button>
</div>
<div class="ranges" aria-label="months-view">
	<ul class="months">
{% for date, month in calendar.months %}
		<li data-date="{{ date }}">{{ month }}</li>
{% endfor %}
	</ul>
</div>
{% endspaceless %}