{% load i18n %}
<div class="control">
	<button data-date="{{ calendar.prev_year }}" class="prev" type="button">
		{% include "formset/icons/arrow-left.svg" %}
	</button>
	<button title="{% translate 'Today' %}" data-date="{{ calendar.today }}" class="today">
		{% include "formset/icons/calendar-today.svg" %}
	</button>
  <time datetime="{{ calendar.startdate|date:'c' }}">{{ calendar.startdate|date:'Y' }}</time>
	<button data-date="{{ calendar.next_year }}" class="next" type="button">
		{% include "formset/icons/arrow-right.svg" %}
	</button>
</div>
<ul class="months" aria-label="months-view">
{% for date, month in calendar.months %}
	<li data-date="{{ date }}">{{ month }}</li>
{% endfor %}
</ul>
