{% load i18n %}
<div class="control">
	<button data-date="{{ calendar.prev_month }}" class="prev" type="button">
		{% include "formset/icons/arrow-left.svg" %}
	</button>
	<button title="{% translate 'Today' %}" data-date="{{ calendar.today }}" class="today">
		{% include "formset/icons/calendar-today.svg" %}
	</button>
	<time datetime="{{ calendar.startdate|date:'c' }}">{{ calendar.startdate|date:'F Y' }}</time>
	<button data-date="{{ calendar.next_month }}" class="next" type="button">
		{% include "formset/icons/arrow-right.svg" %}
	</button>
</div>
<ul class="weekdays" aria-label="weeks-view">
{% for abbr, weekday in calendar.weekdays %}
	<li><abbr title="{{ weekday }}">{{ abbr }}</abbr></li>
{% endfor %}
{% for date, day, classes in calendar.monthdays %}
	<li data-date="{{ date }}"{% if classes %} class="{{ classes }}"{% endif %}>{{ day }}</li>
{% endfor %}
</ul>