<div class="control">
	<button class="prev" type="button">
		{% include "formset/icons/arrow-left.svg" %}
	</button>
{% with first_year=calendar.years|first last_year=calendar.years|last %}
	<time datetime="{{ calendar.startdate|date:'c' }}">{{ first_year.1 }} – {{ last_year.1 }}</time>
{% endwith %}
	<button class="next" type="button">
		{% include "formset/icons/arrow-right.svg" %}
	</button>
</div>
<ul class="years" aria-label="years-view">
{% for date, year in calendar.years %}
	<li data-date="{{ date }}">{{ year }}</li>
{% endfor %}
</ul>
