name: Test django-formset

on:
  push:
    branches:
      - main
      - releases/*
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '/docs/**'
  pull_request:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.rst'
      - '/docs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11"]
        django-version: ["4.1.*", "4.2.*", "5.0.*"]
        node-version: ["18.x"]
        include:
          - build-client: "esbuild"
          - build-client: "esbuild"  # rollup is not working in NodeJS 18
            python-version: "3.10"
            django-version: "4.1.*"

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        npm install --include=dev
        python -m pip install --upgrade pip
        python -m pip install "Django==${{ matrix.django-version }}"
        python -m pip install -r testapp/requirements.txt
        playwright install
    - name: Build Parser
      run: |
        npm run tag-attributes
    - name: Build Client
      run: |
        npm run ${{ matrix.build-client }}
        npm run compilescss
    - name: Test with pytest
      run: |
        python -m pytest testapp
